.marquee {
  margin: 0 auto;
  width: 600px; // or 100% inside a container
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  
  &:before, &:after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 30px;
    content: "";
    z-index: 1;
  }
}


.marquee__content {
  width: 300% !important;
  display: flex;
  line-height: 30px;
  animation: marquee 60s linear infinite forwards;
  // &:hover {
  //   animation-play-state: paused;
  // } 
}

.list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;
  
  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-66.6%); }
}